name: Run Release Please

on:
  push:
    branches:
      - main

jobs:
  release-package:
    runs-on: ubuntu-latest

    permissions:
      contents: write # Contents and pull-requests are for release-please to make releases.
      pull-requests: write

    services:
      wiremock:
        image: wiremock/wiremock
        ports:
          - 8080:8080

    env:
      LD_INCLUDE_INTEGRATION_TESTS: 1

    steps:
      - uses: googleapis/release-please-action@v4
        id: release

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.releases_created == 'true' }}
        with:
          fetch-depth: 0 # Full history is required for proper changelog generation

      - name: Build and Test
        if: ${{ steps.release.outputs.releases_created == 'true' }}
        uses: ./.github/actions/ci
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build documentation
        if: ${{ steps.release.outputs.releases_created == 'true' }}
        uses: ./.github/actions/build-docs

      - uses: ./.github/actions/publish-docs
        if: ${{ steps.release.outputs.releases_created == 'true' }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
